/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: white; /* Change background to white */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#movie-title {
    padding: 10px;
    font-size: 50px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fa7f4e;
}

.recommendations {
    margin-top: 20px;
}

.recommendation {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}

.recommendation h3 {
    margin: 0 0 10px;
    color: #007bff;
}

.recommendation p {
    margin: 5px 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.grid-item {
    background-color: #fa7f4e; /* Change background to light orange */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 225px; /* Adjust the width as needed */
    max-height: 450px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.grid-item h4 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    padding: 5px;
}

.grid-item p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #666;
    text-align: center;
}

.grid-item img {
    width: 175px;  
    height: auto;  /* Maintain aspect ratio */
    border-radius: 5px;
    margin-bottom: 5px;
}
